body {
    font-family: sans-serif;
    margin: 0;
    padding: 50px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

h1 {
    text-align: center;
    font-weight: 300;
    margin-top: 0;
}

h1 a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    max-width: 550px;
}

ul li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    transition: transform 0.3s ease-in;
}

ul li a:hover {
    transform: scale(1.05);
}

h1 a:focus,
ul li a:focus {
    outline-color: pink;
}

ul li a.active {
    font-weight: bold;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: white;
    overflow: hidden;
}

.navbar,
.gallery-container,
.about-container {
    width: 100%;
    margin: 0 auto;
}

.navbar,
.gallery-container {
    max-width: 900px;
}

.gallery-container,
.about-container,
.form-container {
    padding: 1.5rem 0;
}

.gallery-grid,
.about-grid {
    display: grid;
}

.gallery-grid {
    gap: .5rem;
    grid-template-columns: repeat(3, 1fr);
}

.about-grid {
    gap: 2rem;
    grid-template-columns: 1.35fr 1fr 1fr;
}

.about-container {
    max-width: 775px;
}

.description-container p:first-child{
    margin-top: 0;
}

.grid-col-span-2 {
    grid-column: span 2;
}

img {
    max-width: 100%;
    display: block;
}

.photo-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.photo-card-headshot img{
    width: 100%;
    height: auto;
    display: block;
}

.download-btn {
  display: inline-block;
  padding: 8px 10px;
  margin-top: 7px;
  background: #595959;
  color: white;
  text-decoration: none;
  border-radius: 3px;
}

.download-btn:hover {
    color: pink;
}

.download-btn:active {
    background-color: pink;
    color: #3D3D3D;
}

.download-btn:focus {
    outline-color: hotpink;
}

.iframe-form-container {
    padding: .81rem 0 1.5rem;
}

/*styling for google form ↓ ↓ */
.iframe-form-container iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 640px;
}

.form-container {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 1.1rem;
}

textarea {
    height: 200px;
}

.submit-btn {
    width: 100px;
    height: 30px;
    font-size: 1.1rem;
    border-radius: 3px;
    background-color: pink;

    display: block;
    margin: 10px auto;
}

footer p{
    text-align: center;
    padding: 8px;
    margin: 0;
}